{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body -%}
    <h1>Test creation</h1>

    {{ form(form) }}

        <div class="text-center">
    <a href="{{ path('test') }}" class="btn btn-default">
        Back to the list
    </a>
</div>
{% endblock %}
