{% extends 'AppBundle::layout.html.twig' %}

{% import 'BaseBundle::macros.html.twig' as macros %}

{% block title %}{{ 'base.menu.admin.permissions' | trans }}{% endblock %}

{% block body %}

    <div id="main">
        <div class="row">
            <div id="permissions" class="col-md-4">
                {{ render(controller('AdminBundle:Permissions:_list', {selectedId: selectedId})) }}
            </div>
            <div id="users" class="col-md-4">
                {{ render(controller('AdminBundle:Permissions:_userList', {selectedId: selectedId})) }}
            </div>
            <div id="groups" class="col-md-4">
                {{ render(controller('AdminBundle:Permissions:_groupList', {selectedId: selectedId})) }}
            </div>
        </div>
    </div>

{% endblock %}
