{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div>
        <div class="col-md-12 alert alert-success text-center">
            <span class="success">{{ 'registration.confirmed'|trans({'%username%': macros.me()}, 'FOSUserBundle')|raw }}</span>
        </div>
    </div>

    <a href="{{ path('home') }}">{{ 'quickstart.button.home'|trans }}</a>

{% endblock fos_user_content %}
